<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!-- Configure Settings Google-->
      <add key="UrlGoogle" value="https://customsearch.googleapis.com/customsearch/v1?key={Key}&amp;cx={Context}&amp;q={Query}" />
      <add key="UrlGoogleApiKey" value="AIzaSyAi1eyY8NDyNOjJM5yZhvCUoccDTgXTpjo" />
      <add key="UrlGoogleApiKeyContext" value="009221452029985466890:yzsmjcqwqp8" />

      <!-- Configure Settings Bing -->
      <add key="UrlBing" value="https://api.cognitive.microsoft.com/bing/v7.0/search?q={Query}" />
      <add key="UrlBingApiKey" value="89661bee4c5847ae9c7970ff4e1d0360" />

    </appSettings>
</configuration>